<html>
    <body>
        
        <ul>
            {% for field in bookings_list %}
            <!-- <li>{{field.plane}}<span></span><input type="button" name="book"></li> -->
            Flight: {{ field.flight.plane }}, Departure: {{ field.flight.depart_time }}, Arrival: {{ field.flight.arrival_time }}, From: {{ field.flight.origin }}, To: {{ field.flight.destination }} <br/>
        
            <!-- <li><input type="submit" name="Book" id="book"></li> -->
            {% endfor %}
        </ul>
    </body>
</html> 